.deck-background {
    background-color: #5299e467;
    padding: 20px;
    border-radius: 5px;
}

.row {
    margin: 0 auto;
    width: 100%;
}

.deck-buttons {
    margin: 5px;
}

@media only screen and (max-width: 800px){
    .deck-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .m-2 {
        margin: 0 auto;
        width: 100%;
    }
}